<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" class="h-100">
<div th:replace="fragment/common :: head"></div>

<!-- ---------- -->

<body class="d-flex flex-column h-100 bg-dark text-light">
<!-- header -->
<div th:replace="fragment/common :: header('sign-up')"></div>

<main class="form-group w-100 m-auto px-5">
    <form class="text-center mx-5 px-5 mt-5" th:action="@{/users/sign-up}" method="post" data-bs-theme="dark">
        <svg xmlns="http://www.w3.org/2000/svg" style="width: 72px;" fill="currentColor"
             class="bi bi-p-square-fill mb-3"
             viewBox="0 0 16 16">
            <path d="M8.27 8.074c.893 0 1.419-.545 1.419-1.488s-.526-1.482-1.42-1.482H6.778v2.97H8.27Z"/>
            <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Zm3.5 4.002h2.962C10.045 4.002 11 5.104 11 6.586c0 1.494-.967 2.578-2.55 2.578H6.784V12H5.5V4.002Z"/>
        </svg>
        <h1 class="h3 mb-3 font-weight-normal" style="text-align: center">어서오세요!</h1>
        <input th:if="${signUpRequestDto != null}" th:value="${signUpRequestDto.email}" type="email" id="email"
               name="email" class="form-control mb-3"
               placeholder="이메일" required autofocus>
        <input th:if="${signUpRequestDto == null}" type="email" id="email" name="email" class="form-control mb-3"
               placeholder="이메일" required autofocus>
        <input type="password" id="password" name="password" class="form-control mb-3" placeholder="비밀번호" required>
        <input type="password" id="checkPassword" name="checkPassword" class="form-control mb-3"
               placeholder="비밀번호 확인"
               required>
        <input th:if="${signUpRequestDto != null}" th:value="${signUpRequestDto.name}" type="text" id="name" name="name"
               class="form-control mb-3"
               placeholder="이름(닉네임)" required>
        <input th:if="${signUpRequestDto == null}" type="text" id="name" name="name" class="form-control mb-3"
               placeholder="이름(닉네임)" required>
        <button class="w-100 btn btn-lg btn-primary mt-5" type="submit">회원가입</button>
    </form>
</main>

<div th:if="${signUpSuccess == false}" class="alert alert-danger mx-3" role="alert" th:text="${errorMessage}">
    회원가입 실패!
</div>

<!-- footer -->
<div th:replace="fragment/common :: footer"></div>

<!--script-->
<div th:replace="fragment/common :: bootstrapScript"></div>
</body>
</html>