<!doctype html>
<html th:replace="~{layout/common :: layout (~{::main}, '')}" xmlns:th="http://www.thymeleaf.org" class="h-100">
<!-- ---------- -->

<main class="form-group w-100 mt-5">
    <div th:if="${profileUpdateSuccess == false}" class="alert alert-danger mt-5 mx-2" role="alert"
         th:text="${errorMessage}">
        회원 정보 수정 실패!
    </div>
    <form class="form-sign-up text-center mt-5" th:action="@{/users/update}" method="post">
        <svg xmlns="http://www.w3.org/2000/svg" style="width: 72px;" fill="currentColor"
             class="bi bi-p-square-fill mb-3"
             viewBox="0 0 16 16">
            <path d="M8.27 8.074c.893 0 1.419-.545 1.419-1.488s-.526-1.482-1.42-1.482H6.778v2.97H8.27Z"/>
            <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Zm3.5 4.002h2.962C10.045 4.002 11 5.104 11 6.586c0 1.494-.967 2.578-2.55 2.578H6.784V12H5.5V4.002Z"/>
        </svg>
        <h1 class="h3 mb-3 font-weight-normal" style="text-align: center">✍️ 회원 정보 수정 ✍️</h1>

        <input th:if="${profileUpdateRequestDto == null}" th:value="${user.subject}" type="text" id="subject"
               name="subject" class="form-control mb-3"
               placeholder="학과"
               autofocus>
        <input th:if="${profileUpdateSuccess == false}" th:value="${profileUpdateRequestDto.subject}" type="text"
               id="subject" name="subject" class="form-control mb-3"
               placeholder="학과"
               autofocus>

        <select th:if="${profileUpdateRequestDto == null}" class="form-control mb-3" name="part" required>
            <option selected th:value="${null}">파트</option>
            <option th:each="part : ${parts}"
                    th:value="${part}"
                    th:text="${part.partName}"
                    th:selected="${user.part} == ${part}">
            </option>
        </select>
        <select th:if="${profileUpdateSuccess == false}" class="form-control mb-3" name="part" required>
            <option selected th:value="${null}">파트</option>
            <option th:each="part : ${parts}"
                    th:value="${part}"
                    th:text="${part.partName}">
            </option>
        </select>

        <textarea th:if="${profileUpdateRequestDto == null}" th:text="${user.getIntroduction}"
                  class="form-control mb-3" id="introduction" name="introduction"
                  rows="5" placeholder="소개"></textarea>
        <textarea th:if="${profileUpdateSuccess == false}" th:text="${profileUpdateRequestDto.introduction}"
                  class="form-control mb-3" id="introduction" name="introduction"
                  rows="5" placeholder="소개"></textarea>

        <input th:if="${profileUpdateRequestDto == null}" th:value="${user.website}" type="url" id="website"
               name="website" class="form-control mb-3"
               placeholder="웹사이트">
        <input th:if="${profileUpdateSuccess == false}" th:value="${profileUpdateRequestDto.website}"
               type="url" id="website" name="website" class="form-control mb-3"
               placeholder="웹사이트">

        <button class="w-100 btn btn-lg btn-primary mt-3 mb-3" type="submit">정보 수정</button>
    </form>
</main>
</html>
