<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" class="h-100">
<div th:replace="fragment/common :: head"></div>

<!-- ---------- -->

<body class="d-flex flex-column h-100">
<!--header-->
<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#"> 프게더 </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">홈 <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">게시글 </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">아직 추가 못함</a>
                </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0">
                <button class="btn btn-outline-success mr-sm-2" type="submit">회원가입</button>
                <button class="btn btn-success my-2 my-sm-0" type="submit">로그인</button>
            </form>
        </div>
    </nav>
</header>

<!--main-->
<main role="main" class="flex-shrink-0">
    <div class="container">
        <h1 class="mt-5">함께 프로젝트를 진행할 친구를 찾아보세요.</h1>
        <p class="lead font-weight">
            혼자 프로젝트를 진행하기 어렵나요? &nbsp 나는 프론트엔드만 할 줄 알아서 백엔드 개발자가 필요한가요?<br>프게더에서 인원을 모집해 보세요!!
        </p>
    </div>
</main>

<!--footer-->
<footer class="footer mt-auto py-3">
    <div class="container">
        <span class="text-muted">지찬우 Spring Boot 프로젝트</span>
    </div>
</footer>

<!--script-->
<div th:replace="fragment/common :: bootstrapScript"></div>
</body>
</html>